.aboutUs{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.about_content{
    padding-left: 50px;
}
.about_counter{
    display: flex;
    gap: 5rem;
}
.counter{
    font-size: 2rem;
    font-weight: 600;
    color: #0a2b1e;
}
.counter_title{
    font-size: 1rem;
    color: #0a2b1e;
    font-weight: 500;
}