.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(226, 248, 248, 0.664);
}
.follows span{
    margin-left: 15px;
}
.follows span a{
    text-decoration: none;
}
.link__list .link__item{
    background: transparent;
    border: 0px;
    padding-left: 0;
}
.link__list a{
    text-decoration: none;
    color: #0a2b1e;
    font-weight: 500;
}