.testimonial{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.testimonial_wrapper{
    display: flex;
    justify-content: space-between;
}
.testimonial_content{
    font-weight: 600;
}